name: SQL Syntax Check

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  sql-parse:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install SQLFluff
        run: |
          pip install sqlfluff

      - name: Parse all SQL files (syntax check only)
        run: |
          sqlfluff parse . --dialect snowflake
